<div id="page_wrapper">	
	<h1 class="title">
		My Projects
	</h1>
	<i>Note: This page may not be up to date. Please visit my github for more of what I'm tinkering with</i>
	<br>
	<br>

	<div id="project">
		<%=link_to image_tag("cookbook.png"), "https://collegecookbook.herokuapp.com/" %>
	</div>

	<div id = "content">
		<h2><a href="https://collegecookbook.herokuapp.com/">College Cookbook</a></h2>
		<p>
			College Cookbook is an app that makes it easy for students to make and share recipes. The recipes are uploaded by the students themselves without any hard-to-find ingrediants or confusing directions. It is simple and quick, just the way a student's meal should be! 
		</p>
	</div>

	<div id="project">
		<%=link_to image_tag("c60.png"), "http://devpost.com/software/c60" %>
	</div>

	<div id = "content">
		<h2><a href="http://devpost.com/software/c60">C60</a></h2>
		<p>
			C60 is a Pebble watch app that allows users to easily connect with other individuals. Users just have to make a profile on our website and download the Pebble app. Individuals within the area can be found using GPS co-ordinates that find other active users. In a matter of seconds, they can send invites and add others onto their contact lists in real time.
		</p>

	</div>

</div>