
	<% @posts.each do |post| %>
		<div class="post_wrapper">
		<h2 class="title"><%= post.title %></h2>
		<p class="date"><%= post.created_at.strftime("%B, %d, %Y")%>
		</p> 
		<div class="body"><%= truncate(post.body, :length => 70) %></div><!--truncates body para to only 70 char-->
		<div class= "buttons">
			<button class="button">
				<%= link_to "Read Post", post %>
			</button>
		</div>
	</div>
	<% end %>