<% @posts.each do |post| %>
<div class="post_wrapper">
	<h2 class="title"><%= post.title %></h2>
	<p class="date"><%= post.created_at.strftime("%B, %d, %Y")%>
	</p> 
	</div>


	<div><%= truncate(post.body, :length => 35) %></div><!--truncates body para to only 35 char-->
	<br>
	<%= link_to "Read Post", post %>
<% end %>